*{
	margin: 0;
	padding: 0;
/*
	without box-sizing - the browser will use the default method of computing the dimensions of a box. 
	border + padding + content-width/height
	for div1: ;
		2px lb+20px lp+100px w/ height+20px rp/lp+2px rb/lb

	box-sizing - it determines how the dimentions of a box will be computed.
*/
	box-sizing: border-box;
}

body{
	font-family: "Open sans", sans-serif;
}

#div1{
	/* 
		margin is the space outside the element/space outside the border of the element padding is the space between the content
		box and the border
	 */
	/*margin: 50px;*/
	padding: 20px;
	border: 	2px solid black;
	height: 100px;
	width: 100px;
	display: inline-block;
}

#div2{

	/*margin: 25px 100px;*/

	/*top right bottom*/
	/*margin: 10px 70px 50px;*/

		/*clockwise*/
	/*margin: 100px 10px 15px 20px;*/

	border: 2px solid black;
	padding: 20px;
	background-color: darkred;
	height: 100px;
	width: 	100px;
	display: inline-block;
		/*the contents of the element will aligned to the top of the box*/
	vertical-align: top;
}

#span1{
	display: inline-block;
	border: 2px solid black;
	background-color: blue;
	height: 100px;
	width: 100px;
}

#span2{
	display: inline-block;
	border: 2px solid black;
	background-color: green;
	height: 100px;
	width: 100px;
}