/*css reset*/
*{
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;

}

body{
	font-family: "Open Sans", sans-serif;
}

nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
}

nav>ul{
	list-style-type: none;
}


/*multiple selectors; used to select multiple selectors with different type/class/id names*/
nav .nav, nav .nav-logo{
	margin: .5rem;
	display: inline;
}

/*Intro Setion*/

#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: whitesmoke;
/*font-weight: declares the thickness of the text*/
	font-weight: bolder;
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}

/*INFO SECTION*/

#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info>h2{
	margin-bottom: 1rem;
}

#info>div{
	border:  1px solid black;
	display: inline-block;
	vertical-align: text-top;
	width: 	30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	min-height: 125px;
}

#info h3{
	margin-bottom: 1rem;
}