/*css reset*/
*{
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;

}

body{
	font-family: "Open Sans", sans-serif;
}

nav{
	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
}

nav>ul{
	list-style-type: none;
}


/*multiple selectors; used to select multiple selectors with different type/class/id names*/
nav .nav, nav .nav-logo{
	margin: .5rem;
	display: inline;
}

/*Intro Setion*/

#intro{
	
	background-color: #B0B0B0;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}
#intro h2{
	color: white;
}
#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: whitesmoke;
/*font-weight: declares the thickness of the text*/
	font-weight: bolder;
	background-color: #C2395B;
	padding: 1rem;
	font-size: 1rem;
	border-radius: 25px;
}

/*INFO SECTION*/

#info{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info>h2{
	margin-bottom: 1rem;
}
#info{
	margin-top: 2.5rem;
	background-color: aliceblue;
	margin-bottom: 10rem;

}
#info>div{
	border:  1px solid black;
	display: inline-block;
	vertical-align: text-top;
	width: 	30%;
	margin-left: .5rem;
	margin-right: .5rem;
	padding: 5px;
	min-height: 125px;
	

}

#info h3{
	margin-bottom: 1rem;
}

/*FOOTER SECTION*/

#pre-footer{
	background-color: steelblue;
}

.pre-footer{
	padding: .5rem;
	margin-right: 10rem;
	display: inline-block;
	vertical-align: top;
	border: .5px solid transparent;
	width: 200px;

}

.pre-footer h3{
	color: whitesmoke;
	padding-bottom: 10px;
}
.pre-footer p{
	font-size: 15px;
 	line-height: 25px;
 	font-weight: bold;
 	border: .5px solid transparent;
 }


.pre-footer p:hover{
	color: darkred;
	padding-left: 5px;
	margin-right: -2px;
	
}

span{
	align-content: center;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 12px;
	padding: .5rem;
	margin: .5rem;

}

span:hover{
	color: blue;
}